@import '../import/import';
.header__destination{
    display:flex;
    list-style: none;
    justify-content: center;
    & > a{
        text-decoration: none;
    }
    &-item{
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 2.3625px;
        color: #FFFFFF;
        margin: 0 13px;
        position: relative;
    }
    &-line{
        border: 1px solid white;
        position:absolute;
        bottom: 46%;
    }
}