@import '../import/import';
.header__page{
    display:flex;
    list-style: none;
    justify-content: center;
    & > a{
        text-decoration: none;
        margin: 0 13px;
        padding-bottom: 5px;
    }
    &-item{
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
        color: #FFFFFF;
        position: relative;
        @include minWidth($md){
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
        }
    }
    
}