@import '../import/import';

.technology{
    text-align: center;
    background-image: url('../../assets/technology/background-technology-mobile.jpg');
    @include minWidth($md){
        background-image: url('../../assets/technology/background-technology-tablet.jpg');
    }
    @include minWidth($lg){
        background-image: url('../../assets/technology/background-technology-desktop.jpg');
    }
    &__intro{
        padding-top:88px;
        padding-bottom:32px;
        margin: 0 auto;
        display:flex;
        width: 166px;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        @include minWidth($md){
            padding-top: 136px;
            margin-left: 24px;
        }
        & > p:first-child{
            font-weight: 700;
            opacity: 0.25;
        }
        & > p:last-child{
            font-weight: 400;
            text-transform: uppercase;
            padding-left: 5px;

        }
    }
    &__item {
        @include minWidth($lg){
            display:flex;
            flex-direction: row-reverse;
        }
    }
    &__image{
        height: 222px;
        margin : 0 auto;   
        overflow: hidden;  
        border-bottom: 1px solid gray;
        @include minWidth($md){
            width: 100%;
            height: 310px;  
        }
        @include minWidth($lg){
            height: 450px; 
            width: 515px;
            margin-right: 0;
            margin-left: 20%;
        }
        & > img {
            width: 100%;
            height: 100%;
            object-fit: fill;

            
        }
    }
    &__container{

        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        text-align: center;
        color: #FFFFFF;
    }
    &__title{
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        mix-blend-mode: normal;
        opacity: 0.5;
        // margin: 0 auto;
        justify-content: center;

    }

    &__name{
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        // margin: 0 auto;
        padding:8px 0;
        @include minWidth($md){
            font-size: 40px;
            line-height: 46px;
        }
        @include minWidth($lg){
            font-size: 56px;
            line-height: 64px; 
        }

    }

    &__dsc{
        font-size: 14px;
        line-height: 25px;
        color: #D0D6F9;
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 30px;
        padding-top: 30px;
        @include minWidth($md){
            font-size: 16px;
            line-height: 28px;
            width:458px;
        }
        @include minWidth($lg){
            font-size: 18px;
            line-height: 32px;
        }

    }

}